@keyframes blur {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(10px);
    }
}

@keyframes unblur {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
    }
}

.text-blur {
    animation: blur 1s forwards;
}

.text-unblur {
    animation: unblur 1s forwards;
}
.icon-hover:hover .icon-path {
    fill: #6EACDA;
    /* Light blue color on hover */
}
