<div
    class="first-bg">
    <div
        class="second-bg">
        <div
            class="third-bg">
            <h2 class="h1-text">Skill</h2>
            <div class="flex flex-col gap-[1vh] lg:gap-[0.5vh]">
                <div class="skill-field">
                    <p class="h2-text">Programming languages</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con group">
                            <img class="skill-field-img" src="../../../assets/c.png" alt="C">
                            <span
                                class="skill-field-tooltip">
                                C
                            </span>
                        </div>
                        <div class="skill-field-con group">
                            <img class="skill-field-img " src="../../../assets/python.png" alt="python">
                            <span
                                class="skill-field-tooltip">
                                python
                            </span>
                        </div>
                    </div>
                    <p class="h2-text">Web Development</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con relative group">
                            <img class="skill-field-img w-[30px]" src="../../../assets/html.png" alt="html">
                            <span
                                class="skill-field-tooltip">
                                HTML
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class="skill-field-img" src="../../../assets/css.png" alt="css">
                            <span
                                class="skill-field-tooltip">
                                CSS
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class=" w-[20px] h-[15px]" src="../../../assets/tailwind.png" alt="tailwind">
                            <span class="skill-field-tooltip">
                                Tailwind
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class="skill-field-img" src="../../../assets/js.png" alt="js">
                            <span
                                class="skill-field-tooltip">
                                JS
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class="skill-field-img" src="../../../assets/angular.png" alt="angular">
                            <span
                                class="skill-field-tooltip">
                                Angular
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class=" w-[60px]" src="../../../assets/node.png" alt="Node-js">
                            <span class="skill-field-tooltip">
                                Node.js
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class=" w-[50px] h-[20px]" src="../../../assets/express.png" alt="Express">
                            <span class="skill-field-tooltip">
                                Express
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class="skill-field-img" src="../../../assets/postman.png" alt="Postman">
                            <span class="skill-field-tooltip">
                                Postman
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class=" w-[50px]" src="../../../assets/mongodb.png" alt="MongoDB">
                            <span class="skill-field-tooltip">
                                MongoDB
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class="w-[50px]" src="../../../assets/mysql.png" alt="MySQL">
                            <span class="skill-field-tooltip">
                                MySQL
                            </span>
                        </div>
                        <div class="skill-field-con relative group">
                            <img class=" w-[50px]" src="../../../assets/github.png" alt="Github">
                            <span class="skill-field-tooltip">
                                Github
                            </span>
                        </div>
                    </div>
                    <p class="h2-text">AI</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con group">
                            <img class="skill-field-img" src="../../../assets/numpy.png" alt="numpy">
                            <span class="skill-field-tooltip">
                                Numpy
                            </span>
                        </div>
                        <div class="skill-field-con group">
                            <img class="skill-field-img " src="../../../assets/pandas.png" alt="pandas">
                            <span class="skill-field-tooltip">
                                Pandas
                            </span>
                        </div>
                        <div class="skill-field-con group">
                            <img class=" w-[50px]" src="../../../assets/scikit-learn.png" alt="scikit-learn">
                            <span class="skill-field-tooltip">
                                Scikit-Learn
                            </span>
                        </div>
                    </div>
                    <p class="h2-text">App Development</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con group">
                            <img class="skill-field-img h-[20px] w-[20px]" src="../../../assets/flutter.png" alt="Flutter">
                            <span class="skill-field-tooltip">
                                Flutter
                            </span>
                        </div>
                    </div>
                    <p class="h2-text">UI</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con group">
                            <img class="skill-field-img h-[20px] w-[20px]" src="../../../assets/figma.png" alt="Figma">
                            <span class="skill-field-tooltip">
                                Figma
                            </span>
                        </div>
                    </div>
                    <p class="h2-text">3D</p>
                    <div class="skill-field-grid">
                        <div class="skill-field-con group">
                            <img class="w-[25px]" src="../../../assets/blender.png" alt="Blender">
                            <span class="skill-field-tooltip">
                                Blender
                            </span>
                        </div>
                        <div class="skill-field-con group">
                            <img class="skill-field-img " src="../../../assets/maya.png" alt="maya">
                            <span class="skill-field-tooltip">
                                Maya
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
