<div
    class=" h-[100vh] w-[80vw] mr-[0.7rem] lg:mr-[1rem] md:w-[60vW] lg:w-[65vw] xl:w-[74vw] bg-black flex flex-col justify-center items-center">
    <div
        class="h-[100vh] w-[80vw] md:h-[90vh] md:w-[60vw] lg:w-[67vw] xl:w-[73vw] bg-darkblue rounded-t-2xl md:rounded-2xl flex items-center justify-center">
        <div
            class="h-[100vh] w-[80vw] md:mt-0 md:h-[85vh] lg:h-[83vh] md:w-[55vw] lg:w-[63vw] xl:w-[70vw] bg-blue md:rounded-2xl flex justify-center items-center">
            
        </div>
    </div>
</div>
