.filter-bg-active{
    @apply cursor-pointer w-[50px]  md:w-[80px] h-[30px] rounded-full bg-darkblue hover:bg-opacity-20 hover:border-b-0 bg-opacity-40 border-b-2 border-lightblue flex justify-center items-center
}
.filter-text-active{
    @apply h2-text w-full h-full text-center align-middle pt-[6px] md:pt-0
}
.filter-bg{
    @apply cursor-pointer w-[50px] md:w-[80px] h-[30px] rounded-full text-opacity-70 hover:bg-black hover:bg-opacity-35 hover:text-opacity-100 flex justify-center items-center
}
.filter-text{
    @apply h2-text text-grey w-full h-full text-center align-middle pt-[6px] md:pt-0
}
.divider{
    @apply hidden md:block h-[20px] w-[5px] rounded-full bg-lightblue
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-animation {
    animation: fadeInUp 0.5s ease-in-out forwards;
}