<div class="flex flex-row bg-darkblue md:bg-black">
  <div *ngIf="sideactive" class="flex flex-row md:mx-[2%] transition-all duration-300 ease-in-out fixed">
    <app-sidedetails [ngClass]="{
        'hidden': !sideactive,
        'block': sideactive,
        ' hidden md:block animate-fadeLeft animate-delay-0 transition-all duration-300 ease-in-out': sideactive
      }" class="md:z-10">
    </app-sidedetails>
    <app-sidenavbar class="md:ms-[-21px]"></app-sidenavbar>
  </div>
  <div [ngClass]="{'ml-auto': sideactive, 'ml-[4vw]': !sideactive}" class=" transition-all duration-600 ease-in-out ">

    <section id="home" class="section">
      <app-home></app-home>
    </section>

    <section id="skill" class="section">
      <app-skill></app-skill>
    </section>

    <section id="project" class="section">
      <app-project></app-project>
    </section>

    <section id="contact" class="section">
      <app-contact></app-contact>
    </section>
  </div>
  <div *ngIf="!sideactive" class="fixed right-0 top-0">
    <app-rightsidenavbar [ngClass]="{'animate-fadeInRight animate-delay-0': !sideactive}"
      class="block md:hidden transition-all duration-300 ease-in-out animate-fadeRight"></app-rightsidenavbar>
  </div>
</div>