<div class="flex flex-row bg-darkblue md:bg-black">
  <div *ngIf="sideactive" class="flex flex-row md:mx-[2%] transition-all duration-300 ease-in-out fixed">
    <app-sidedetails [ngClass]="{'animate-fadeLeft animate-delay-0':sideactive}" class="hidden md:block md:z-10 transition-all duration-300 ease-in-out"></app-sidedetails>
    <app-sidenavbar class="md:ms-[-21px]"></app-sidenavbar>
  </div>
  <div [ngClass]="{'ml-auto': sideactive, 'ml-[4vw] ': !sideactive}" class="transition-all duration-600 ease-in-out">
    <app-home></app-home>
    <app-skill></app-skill>
    <app-contact/>
  </div>
  <div *ngIf="!sideactive" class="fixed right-0 top-0">
      <app-rightsidenavbar [ngClass]="{'animate-fadeInRight animate-delay-0': !sideactive}"
      class="block md:hidden transition-all duration-300 ease-in-out animate-fadeRight" />
  </div>
</div>