@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    /* styles.css */
    
        /* Apply custom scrollbar styles globally */
    ::-webkit-scrollbar {
        width: 8px;
            /* Vertical scrollbar width */
        height: 8px;
            /* Horizontal scrollbar height */
    }
    
    ::-webkit-scrollbar-track {
        background-color: #010C16;
            /* darkblue for the track */
        border-radius: 9999px;
            /* Fully rounded track */
        margin: 2px;
            /* Ensures track isn't clipped at the edges */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #6EACDA;
            /* lightblue for the thumb */
        border-radius: 9999px;
            /* Fully rounded thumb */
        border: 2px solid #010C16;
            /* Add padding around the thumb to keep it smaller */
    }

    
    /* html {
        scrollbar-width: thin;
        scrollbar-color: #6EACDA #010C16;
    } */

}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

html,
body {
    height: 100%;
    background-color: #0B0909;
}

body {
    margin: 0;
    font-family:Poppins, Roboto, "Helvetica Neue", sans-serif;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    @apply font-light text-lg text-grey;
    animation: blink 1s step-end infinite;
}

@layer components{
    /*all pages*/
    .first-bg{
        @apply h-full w-[80vw] mr-[0.7rem] lg:mr-[0.5rem] md:w-[60vW] lg:w-[65vw] xl:w-[74vw] bg-darkblue md:bg-black flex flex-col justify-center items-center
    }
    .second-bg{
        @apply h-full w-[80vw] md:h-full md:w-[60vw] lg:w-[67vw] xl:w-[73vw] bg-darkblue flex items-center justify-center
    }
    .third-bg{
        @apply h-full w-[80vw] md:p-[1vw] md:py-[5vh] md:w-[55vw] lg:w-[63vw] xl:w-[70vw] bg-blue flex flex-col justify-center gap-[0.5vh]
    }
    .h1-text{
        @apply w-[80%] text-beach font-poppins tracking-widest ms-[5vw] md:ms-[3vw] lg:ms-[1vw] text-left text-base md:text-2xl
    }
    .h2-text{
        @apply w-full font-poppins text-start font-normal text-beach text-xs md:text-base lg:text-base tracking-wider
    }
    .h3-text{
        @apply text-grey mt-[1vh] text-[10px] lg:text-xs font-raleway font-normal
    }
    .h4-text {
        @apply w-full font-poppins text-start font-normal text-beach text-[10px] md:text-xs tracking-wider
    }
    .skill-field-tooltip {
        @apply absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 px-2 py-1 text-xs md:text-sm text-grey bg-black bg-opacity-75 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300
    }
    .tooltip {
        @apply absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 px-2 py-1 text-xs md:text-sm text-grey bg-black bg-opacity-75 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300
    }




    /*skill pages*/
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
